html {
  cursor: url(Cursor.svg) 50 50, auto;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

body {
  background-color: blue;
  margin: 0;
}

.section-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-div-nombre {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
  margin-right: 8px;
}

.o-div-nombre h1 {
  right: 0px;
  padding-right: 10px;
}

.o-div-nombre h1::before {
  content: 'A';
  color: white;
}

.o-section-menu-lateral {
  padding-left: 60px;
  padding-top: 130px;
  position: fixed;
}

.o-section-menu-lateral .o-boton-lateral {
  position: relative;
  padding: 8px;
  overflow: hidden;
  z-index: 2px;
}

.o-section-menu-lateral .o-boton-lateral p {
  margin: 0;
  color: black;
  position: relative;
}

.o-section-menu-lateral .o-boton-lateral::before {
  content: '';
  position: absolute;
  width: 0;
  height: 50%;
  top: 50%;
  left: 100%;
  background-color: red;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.o-section-menu-lateral .o-boton-lateral:hover {
  cursor: none;
}

.o-section-menu-lateral .o-boton-lateral:hover:before {
  width: 250%;
  height: 250%;
}

.o-section-contenido {
  padding-left: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-section-contenido section {
  height: 100vh;
  scroll-snap-align: start;
}

.o-section-inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-section-inicio .o-div-saludo {
  width: 480px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 20vh 0 0;
  font-size: 20px;
}

.o-section-inicio .o-h1-nombre {
  margin: 20vh 0 0;
  width: 400px;
  color: white;
  font-size: 120px;
}

.o-section-informacion-personal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-div-informacion-personal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 150px;
      grid-template-columns: 200px 150px;
}

.o-div-informacion-personal .o-span-grid-titulo {
  color: red;
}

.o-div-informacion-personal .o-span-grid {
  color: green;
}

.o-div-informacion-personal .o-span-lugar-nacimiento {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}
/*# sourceMappingURL=index.css.map */