html
    cursor: url(Cursor.svg) 50 50, auto
    // cursor: none
    overflow-y: scroll
    scroll-snap-type: y mandatory 
    scroll-snap-stop: always

body
    background-color: blue
    margin: 0
    
.section-all 
    display: flex
    flex-direction: column

.o-div-nombre
    position: fixed
    top: 0
    right: 0
    display: flex
    justify-content: flex-end
    margin-top: 10px
    margin-right: 8px

    h1
        right: 0px
        padding-right: 10px

    h1::before
        content: 'A'
        color: white

.o-section-menu-lateral
    padding-left: 60px
    padding-top: 130px
    position: fixed

    .o-boton-lateral    
        position: relative
        padding: 8px
        overflow: hidden
        z-index: 2px

        p
            margin: 0
            color: black
            position: relative

    .o-boton-lateral::before
        content: ''
        position: absolute
        width: 0
        height: 50%
        top: 50%
        left: 100%
        background-color: red
        transform: translate(-50%, -50%)
        border-radius: 50%
        transition: 1s

    .o-boton-lateral:hover
        cursor: none

    .o-boton-lateral:hover:before
        width: 250%
        height: 250%

.o-section-contenido
    padding-left: 260px
    // padding-right: 180px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-content: center
    justify-content: center

    section
        height: 100vh
        scroll-snap-align: start

.o-section-inicio

    .o-div-saludo
        width: 480px
        transform: translate(90%, 250%)
        font-size: 20px

    .o-h1-nombre
        margin: 0
        width: 400px
        color: white
        font-size: 120px
        transform: translate(0%, 120%)

.o-section-informacion-personal
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .o-span-nombre

.o-div-informacion-personal
    display: grid
    grid-template-columns: 200px 150px

    .o-span-grid-titulo
        color: red

    .o-span-grid
        color: green

    .o-span-lugar-nacimiento
        grid-column: 1 / span 2