$background: #EAEBF3
$lightPurple: #7519FF
$darkPurple: #4700B3
    
html
    cursor: url(Cursor.svg) 50 50, auto
    // cursor: none
    overflow-y: scroll
    scroll-snap-type: y mandatory 
    scroll-snap-stop: always
    font-family: 'Roboto', sans-serif
    font-weight: 100

body
    background-color: $background
    margin: 0
    
.section-all 
    display: flex
    flex-direction: column

.o-div-nombre
    position: fixed
    top: 0
    right: 0
    display: flex
    justify-content: flex-end
    margin-top: 10px
    margin-right: 8px

    h1
        right: 0px
        padding-right: 10px

        span
            color: $lightPurple

.o-section-menu-lateral
    padding-left: 2rem
    padding-top: 5rem
    position: fixed

    .o-boton-lateral    
        position: relative
        margin: 0.5rem
        background-color: $background
        overflow: hidden
        z-index: 2px
        border-radius: 5px
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -6px -6px 10px rgba(255, 255, 255, 0.2)

        p
            margin: 10px 33px 10px 17px
            color: black
            position: relative
            font-size: 14px
            font-style: normal
            font-weight: 100
            line-height: 16px

    .o-boton-lateral::before
        content: ''
        position: absolute
        width: 0
        height: 50%
        top: 50%
        left: 100%
        background-color: red
        transform: translate(-50%, -50%)
        border-radius: 50%
        transition: 1s

    .o-boton-lateral:hover
        cursor: none

    .o-boton-lateral:hover:before
        width: 250%
        height: 250%

.o-section-contenido
    padding-left: 260px
    // padding-right: 180px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-content: center
    justify-content: center

    section
        height: 100vh
        scroll-snap-align: start

.o-section-inicio
    display: flex
    flex-direction: column
    justify-content: space-evenly

    .o-div-saludo
        max-width: 36rem
        align-self: flex-end
        font-size: 1.2rem
        padding-right: 9%

        span
            color: $lightPurple

    .o-h1-nombre
        max-width: 400px
        margin: 0
        align-self: flex-start
        color: $lightPurple
        text-shadow: -3px -3px 10px rgba($lightPurple, 0.4), 3px 3px 10px rgba($lightPurple, 0.4)
        font-size: 4.5rem
        line-height: 5.5rem
        font-weight: 100
        padding: 0 0 3rem 10%

.o-section-informacion-personal
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    .o-div-card
        display: flex  
        flex-direction: column
        background: #EAEBF3
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -6px -6px 10px rgba(255, 255, 255, 0.2)
        padding: 69px 69px 0 69px
        font-weight: 100

        .o-div-informacion-personal
            display: grid
            grid-template-columns: 15rem 25rem

            .o-span-grid-titulo
                padding-bottom: 3rem
                font-size: 28px
                line-height: 35px
                color: $lightPurple

            .o-span-grid
                padding-bottom: 2rem
                font-size: 28px
                line-height: 35px

            .o-span-lugar-nacimiento
                grid-column: 1 / span 2
                padding-left: 6rem
                font-size: 28px
                line-height: 35px

        .o-div-redes
            width: 100%
            padding: 4rem 1rem 2rem 0
            display: flex
            justify-content: flex-end

            img
                width: 2.5rem
                height: 2.5rem
                margin-left: 1rem
                filter: brightness(0) saturate(100%) invert(74%) sepia(40%) saturate(2421%) hue-rotate(194deg) brightness(101%) contrast(91%)

            img:hover
                filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(7403%) hue-rotate(269deg) brightness(67%) contrast(117%) drop-shadow(-3px -3px 10px rgba($darkPurple, 0.4)) drop-shadow(3px 3px 10px rgba($darkPurple, 0.4))
                -webkit-filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(7403%) hue-rotate(269deg) brightness(67%) contrast(117%) drop-shadow(-3px -3px 10px rgba($darkPurple, 0.4)) drop-shadow(3px 3px 10px rgba($darkPurple, 0.4))
