html {
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  background-color: #EAEBF3;
  margin: 0;
}

.o-section-all {
  width: 100%;
}

.o-section-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #EAEBF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  border-radius: 0 3rem 3rem 0;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
}

.o-div-picture {
  background: #EAEBF3;
  padding: 0.4rem;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
}

.o-div-picture .o-div-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
}

.o-div-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.o-div-nombre h1 {
  right: 0px;
  padding-right: 10px;
}

.o-div-nombre h1 span {
  color: #7519FF;
}

.o-section-menu-lateral {
  padding: 4rem 0;
  width: 95%;
}

.o-section-menu-lateral .o-boton-lateral {
  position: relative;
  margin: 0.5rem;
  background-color: #EAEBF3;
  overflow: hidden;
  z-index: 2px;
  border-radius: 0.7rem;
}

.o-section-menu-lateral .o-boton-lateral p {
  margin: 10px 33px 10px 17px;
  color: black;
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 16px;
}

.o-section-menu-lateral .o-boton-lateral:hover {
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
}

.o-section-menu-lateral .o-boton-lateral:active {
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
}

.o-div-redes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
}

.o-div-redes img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  -webkit-filter: brightness(0) saturate(100%) invert(74%) sepia(40%) saturate(2421%) hue-rotate(194deg) brightness(101%) contrast(91%);
          filter: brightness(0) saturate(100%) invert(74%) sepia(40%) saturate(2421%) hue-rotate(194deg) brightness(101%) contrast(91%);
}

.o-div-redes img:hover {
  filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(7403%) hue-rotate(269deg) brightness(67%) contrast(117%) drop-shadow(-3px -3px 10px rgba(71, 0, 179, 0.4)) drop-shadow(3px 3px 10px rgba(71, 0, 179, 0.4));
  -webkit-filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(7403%) hue-rotate(269deg) brightness(67%) contrast(117%) drop-shadow(-3px -3px 10px rgba(71, 0, 179, 0.4)) drop-shadow(3px 3px 10px rgba(71, 0, 179, 0.4));
}

.o-section-contenido {
  padding-left: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-section-contenido section {
  height: 100vh;
  scroll-snap-align: start;
}

.o-h1-titulo {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  font-weight: 100;
  margin-bottom: 1rem;
}

.o-section-inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-section-inicio .o-div-saludo {
  max-width: 36rem;
  font-size: 1.2rem;
  text-align: center;
}

.o-section-inicio .o-div-saludo span {
  color: #7519FF;
}

.o-section-inicio .o-h1-nombre {
  max-width: 400px;
  margin: 0;
  color: black;
  font-size: 4.5rem;
  line-height: 5.5rem;
  font-weight: 100;
  text-align: center;
}

.o-section-informacion-personal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-section-informacion-personal .o-div-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #EAEBF3;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
  padding: 69px 69px 0 69px;
  font-weight: 100;
}

.o-section-informacion-personal .o-div-card-info .o-div-informacion-personal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 25rem;
      grid-template-columns: 15rem 25rem;
}

.o-section-informacion-personal .o-div-card-info .o-div-informacion-personal .o-span-grid-titulo {
  padding-bottom: 3rem;
  font-size: 28px;
  line-height: 35px;
  color: #7519FF;
}

.o-section-informacion-personal .o-div-card-info .o-div-informacion-personal .o-span-grid {
  padding-bottom: 2rem;
  font-size: 28px;
  line-height: 35px;
}

.o-section-informacion-personal .o-div-card-info .o-div-informacion-personal .o-span-lugar-nacimiento {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  padding-left: 6rem;
  font-size: 28px;
  line-height: 35px;
}

.o-section-informacion-personal .o-div-card-info .o-div-redes {
  width: 100%;
  padding: 4rem 1rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.o-section-habilidades {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-section-habilidades .o-div-card-habilidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  background: #EAEBF3;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
  font-weight: 100;
  border-radius: 1rem;
}

.o-section-habilidades .o-div-habilidades {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-section-habilidades .o-span-habilidad {
  color: #7519FF;
  margin: 1rem 0 0 2rem;
  font-size: 30px;
  line-height: 35px;
}

.o-section-habilidades .o-div-barra-progreso {
  width: 90%;
  margin: 1rem 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EAEBF3;
  border-radius: 3rem;
  padding: 0.2rem;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
}

.o-section-habilidades .o-div-barra-progreso::before {
  content: '';
  position: relative;
  width: 70%;
  border-radius: 2rem;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
}

.o-section-habilidades .o-div-barra-progreso span {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.o-section-habilidades .o-habilidades-no-blandas {
  padding: 5rem 1rem 5rem 2rem;
}

.o-section-habilidades .o-habilidades-no-blandas .o-div-barra-progreso::before {
  background-color: #4700B3;
}

.o-section-habilidades .o-habilidades-no-blandas .o-div-barra-progreso span {
  color: #4700B3;
}

.o-section-habilidades .o-habilidades-blandas {
  padding: 5rem 2rem 5rem 1rem;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
          box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset -2px -2px 3px rgba(255, 255, 255, 0.2);
  border-radius: 3rem 1rem 1rem 3rem;
}

.o-section-habilidades .o-habilidades-blandas .o-div-barra-progreso::before {
  background-color: #7519FF;
}

.o-section-habilidades .o-habilidades-blandas .o-div-barra-progreso span {
  color: #7519FF;
}

.o-section-educacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-section-educacion .o-div-card-educacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  background: #EAEBF3;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
  font-weight: 100;
  border-radius: 1rem;
  padding: 3rem 1rem 3rem 3rem;
}

.o-section-educacion .o-div-elemento-educacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin-left: 4rem;
}

.o-section-educacion .o-h1-institucion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 2rem 0 0 0;
  font-size: 28px;
  line-height: 35px;
  font-weight: 100;
}

.o-section-educacion .o-span-grid-titulo {
  font-size: 28px;
  line-height: 35px;
  color: #4700B3;
  padding: 1rem 4rem;
}

.o-section-educacion .o-span-grid {
  font-size: 28px;
  line-height: 35px;
  justify-self: flex-end;
  text-align: right;
  padding: 1rem 4rem;
}

.o-section-educacion .o-span-grid span {
  color: #7519FF;
}

.o-section-expreiencia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-section-expreiencia .o-div-card-experiencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  background: #EAEBF3;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), -3px -3px 4px rgba(255, 255, 255, 0.2);
  font-weight: 100;
  border-radius: 1rem;
  padding: 3rem 1rem 3rem 3rem;
}

.o-section-expreiencia .o-div-timeline {
  position: relative;
  padding: 0 0 0 1rem;
}

.o-section-expreiencia .o-div-timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #4700B3;
  top: 0;
  bottom: 0;
  left: 0;
}

.o-section-expreiencia .o-div-elemento-experiencia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.o-section-expreiencia .o-span-grid-fecha {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  line-height: 25px;
}

.o-section-expreiencia .o-span-grid-fecha::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: calc(-1rem + 11px);
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  z-index: 1;
  background-color: #4700B3;
}

.o-section-expreiencia .o-h1-institucion {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0;
  font-size: 25px;
  line-height: 41px;
}

.o-section-expreiencia .o-span-grid-rol {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 25px;
  line-height: 41px;
  color: #4700B3;
}

.o-section-expreiencia .o-div-grid-descripcion {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: 0.1rem 0;
  font-size: 20px;
  line-height: 25px;
}

.o-section-expreiencia .o-div-grid-descripcion span {
  color: #4700B3;
}
/*# sourceMappingURL=index.css.map */